:host {
  display: block;
  padding: 1.5rem;
}

.actions-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.action-item {
  cursor: pointer;
  p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color-secondary);
  }
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  &.bg-yellow {
    background-color: var(--icon-bg-yellow);
    color: #f59e0b;
  }
  &.bg-green {
    background-color: var(--icon-bg-green);
    color: #10b981;
  }
  &.bg-pink {
    background-color: var(--icon-bg-pink);
    color: #ec4899;
  }
  &.bg-blue {
    background-color: var(--icon-bg-blue);
    color: #3b82f6;
  }
}